<div class="form-control">
  <label for="input-username" class="form-label"></label>
  <input type="text" class="login-form-input" id="input-username" name="username" placeholder="Enter Username"/>
</div>

<div class="form-control">
  <label for="input-email" class="form-label"></label>
  <input type="email" class="login-form-input" id="input-email" placeholder="Enter your email" name="email" />
</div>

<div class="form-control">
  <label for="input-password" class="form-label"></label>
  <input
    type="password"
    class="login-form-input"
    id="input-password"
    name="password"
    placeholder="Password"
  />
</div>

<div class="form-control">
  <label for="input-confirm-password" class="form-label"></label>
  <input
    type="password"
    class="login-form-input"
    id="input-confirm-password"
    name="confirm_password"
    placeholder="Confirm password"
  />
</div>
