
  <nav>
    <ul class="normal">

      <li class="nav-links">
        <a class="navbar-brand" href="/dashboard">Dashboard</a>
      </li>

      <li class="nav-links">
        <a class="navbar-brand" href="/student/add-student">Add New Student</a>
      </li>

      <% if(locals.user) { %>
        <li class="nav-links">
          <a class="navbar-brand" href="/profile">Profile</a>
        </li>
      <% } %>

      <li class="nav-links">
        <a class="navbar-brand" href="/interview/add-interview">Add Interview</a>
      </li>

      <li class="nav-links">
        <a class="navbar-brand" href="/download">Report</a>
      </li>

      <li class="nav-links">
        <a class="navbar-brand" href="/sign-out">Logout</a>
      </li>

    </ul>
  </nav>

