* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: #4ea8ed;
    height: 80px;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 10px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    background: #065797;
    transition: 0.5s;
    color: white;
}
